.footer-text{
	font-size:11px;
	color:#ccc;
}
.main-title .black{
	color:#000;
}
.main-title .orange{
	color: #b22c0e;
}
.header-tag-line{
	color:#935465;
	font-size: 12px;
}
.home-title{
	color:orange;
}
.free-offer{
	color:green;
}