html
	head
		title=title
		link(rel='stylesheet',href='css/bootstrap.min.css')
		link(rel='stylesheet',href='css/style.css')
	body
		<div class="jumbotron">
			<h2 class="main-title text-center">
				<span class="orange">The</span><span class="black">BigProject<span>
			</h2>
			<h4 class="text-center header-tag-line">Complete your projects!</h4>
		</div>

		block content
		
	footer
		<p class="footer-text text-center">All rights@bigproject</p>